.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#!.yarn/cache
.pnp.*

# nodejs
node_modules
npm-debug.log
yarn-error.log

# turbo
.turbo

# logs
logs

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build artifacts
dist